* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 12px;
}

.table {
	margin: 0.5rem;
	padding: 0.5rem;
	border-collapse: collapse;
	border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
	background-color: #1597BB;
	color: #F7F3E9;
	text-align: left;
	font-weight: bold;
}

.table th,
.table td {
	margin: 0.5rem;
	padding: 0.5rem;
}

.tbody tr {
	border-bottom: 0.5rem solid #dddddd;
}

.tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
	border-bottom: 0.5rem solid #009879;
}

/*
	.table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}
*/
